@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "sora";
  src: url('../public/Sora.ttf');
}

@font-face {
  font-family: "lato";
  src: url('../public/Lato-Bold.ttf');
}